* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  background: linear-gradient(to right, #57c1ed 0%, #246fa8 100%);
}

.chat-container {
  min-width: 800px;
  max-width: 1000px;
  max-height: 800px;
  height: 95vh;
  background: #fff;
  border-radius: 10px;
}

.side-bar {
  background: #0048aa;
  border-radius: 10px 0 0 10px;
}

.chat-window {
  border-radius: 0 10px 10px 0;
}
